## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/01/09 01:51:48

[Commit](https://github.com/lucasssvaz/arduino-esp32/commit/3d4c68f7cbc05829ac77702a73b5140127f966c0) / [Build and QEMU run](https://github.com/lucasssvaz/arduino-esp32/actions/runs/20838379377) / [Hardware and Wokwi run](https://github.com/lucasssvaz/arduino-esp32/actions/runs/20838407030) / [Results processing](https://github.com/lucasssvaz/arduino-esp32/actions/runs/20838428417)

[Test results](https://github.com/lucasssvaz/arduino-esp32/runs/59867795306)
