## Runtime Tests Report

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests

#### Wokwi

Test|ESP32-P4
-|:-:
gpio|1/1 :white_check_mark:
hello_world|1/1 :white_check_mark:
i2c_master|6/6 :white_check_mark:
nvs|4/4 :white_check_mark:
psram|8/8 :white_check_mark:
timer|4/4 :white_check_mark:
uart|10/10 :white_check_mark:
unity|2/2 :white_check_mark:


Generated on: 2025/04/30 03:16:56
[Build, Hardware and QEMU run](https://github.com/lucasssvaz/arduino-esp32/actions/runs/14745820424) / [Wokwi run](https://github.com/lucasssvaz/arduino-esp32/actions/runs/14745881685)
